/*

http://juandresyn.com/reset-css-el-codigo-basico

   v3.5 | 20140801
   License: none (public domain)
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 35px;
    font-family: 'Open Sans', sans-serif, Arial;
    color: #3f444e;
}

h2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif, Arial;
    color: #3f444e;
}

h3 {
    font-size: 27px;
    font-family: 'Open Sans', sans-serif, Arial;
    color: #3f444e;
}

h4 {
    font-size: 23px;
    font-family: 'Open Sans', sans-serif, Arial;
    color: #3f444e;
}

h5 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif, Arial;
    color: #3f444e;
}

h6 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif, Arial;
    color: #3f444e;
}

strong, b {
    font-weight: bold;
}

p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif, Arial;
}

/* ===== Estilos semánticos ===== */

.wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fafafa;
}

.clear{
    clear: both;
}

.img-circle{
    border-radius: 50%;
    float: left;
    position: relative;
}

.mobile-menu{
    display: none;
}

/* ===== Header ====== */
header{
    width: 100%;
    background: #fafafa;
}

.header-wrapper {
    width: 95%;
    margin: auto;
    padding: 4px 0;
}

.header-logo {
    width: 20%;
    float: left;
    padding: 20px 0;
}

.header-nav {
    float: left;
    width: 60%;
    margin: auto;
    padding: 20px 0;
}

.header-nav ul{
    padding: 0;
    margin: 0 auto;
    width: 64%;
}

.header-nav ul li{
    display: inline;
    float: left;
    font-size: 25px;
    padding: 0 20px;
}

.header-nav ul li:hover a span{
    visibility:visible;
    opacity:1;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

.header-nav ul li a{
    color: #ccc;
}

.header-nav ul li a:hover{
    color: #ddd;
}

.header-nav ul li a span{
	position: absolute;
    background: #e2271e;
    color: #fafafa;
    margin-top: 40px;
    margin-left: -50px;
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 16px;
    visibility: hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
    font-family: 'Open Sans', sans-serif, Arial;
}

.header-nav ul li a span:after{
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(226, 39, 30, 0);
	border-bottom-color: #e2271e;
	border-width: 7px;
	margin-left: -7px;
}

.logo {
  width: 170px;
}

.user-options {
    float: left;
    width: 20%;
    display: table;
    padding: 15px 0;
}

.user-options span{
    padding: 5px 15px;
    margin: 0;
    color: #3f444e;
    font-size: 15px;
    float: left;
}

.user-options i.fa-pencil{
    padding: 5px 0;
    font-size: 14px;
    color: #999;
    float: left;
}

.user-options span.notification{
    color: red;
    font-size: 8px;
    position: absolute;
    margin-left: 11px;
    z-index: 9;
    margin-top: -5px;
}

.lines-button{
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px 10px;
}

#menu{
    display: none;
}

/* ===== /Header ====== */
/* ===== Banner ====== */


.banner_top {
    width: 100%;
    height: 550px;
    background-size: cover;
}

.banner-title{
    right: 50px;
    position: absolute;
    margin-top: 50px;
}

.banner-title h2{
    color: #fafafa;
    font-weight: 500;
    font-style: italic;
    font-size: 60px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.47);
}

.banner-info-wrapper{
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    margin-top: -50px;
    border-top: 1px solid #3F3B3B;
}

.banner-info {
    width: 95%;
    margin: auto;
}

h4.banner-data {
    font-size: 16px;
    color: #fafafa;
    float: left;
    padding: 17px 30px 17px 0;
    text-transform: uppercase;
    font-weight: 600;
}

h4.banner-fav{
    float: right;
}

h4.banner-data span{
    color: #e2271e;
}

h4.banner-data span .fa-star-o{
    color: #fafafa;
}

/* ===== /BANNER =====*/
/* ===== CONTENT =====*/
.content{
    width: 95%;
    margin: auto;
}

.content section{
    margin-top: 35px;
}

.content section .section-heading{
  display: flex;
  justify-content: space-between;
}

.content section .section-heading h5.section-title{
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 15px;
}

.content section .section-heading form{

}

.content section .section-heading form input{
    font-style: italic;
    border: none;
    border-bottom: 1px solid rgba(74, 79, 88, 0.38);
    background-color: none;
    width: 180px;
    background-image: url(../img/search.png);
    background-color: #fafafa;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;

}

.content section .section-heading form input:focus{
    outline: 0;
}

.movielist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-item{
    width: 240px;
    height: 240px;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    float: left;
    border: 3px solid #fafafa;
    -webkit-transition: all 0.5s ease;
    margin: 1% 0;
}

.movie-item .is-fav {
  display: none;
}

.movie-item.faved .is-fav {
  display: inline-block;
}
.movie-item.faved .not-fav {
  display: none;
}

.movie-item:hover,
.movie-item.active {
    border: 3px solid #e2271e;
    box-shadow: 0px 0px 11px 3px rgba(116, 116, 116, 0.48);
}

.movie-item h6.movie-title{
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    z-index: 1;
    text-shadow: 0px 0px 5px #000;

}

.movie-item .movie-favs{
    float: left;
    left: 20px;
    position: absolute;
    top: 20px;
    color: #fafafa;
    z-index: 1;
    text-shadow: 0px 0px 5px #000;

}

.movie-item .movie-favs i{
    color: #e2271e;
    cursor: pointer;
}

.movie-item .movie-download {
    color: #fff;
    float: right;
    right: 20px;
    position: absolute;
    top: 20px;
    z-index: 1;
    text-shadow: 0px 0px 5px #000;

}

.movie-item .movie-download a{
    color: #fafafa;
}

.movie-item .blackout{
    background: rgba(63, 67, 77, 0.5);
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 0;
    /*-webkit-transition: all 0.5s ease;*/
}

.movie-item:hover .blackout{
    background: rgba(63, 67, 77, 0);
}

.movie-item div span:hover span{
    visibility:visible;
    opacity:1;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

.movie-item span span {
	position: absolute;
    background: #e2271e;
    color: #fafafa;
    margin-top: 30px;
    margin-left: -60px;
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 16px;
    visibility: hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
    font-family: 'Open Sans', sans-serif, Arial;
}

.movie-item span span:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(226, 39, 30, 0);
	border-bottom-color: #e2271e;
	border-width: 7px;
	margin-left: -7px;
}

/*==== /CONTENT ====*/
/*==== FOOTER =====*/

footer{
    background: #3f434d;
}

footer .footer-wrapper{
    width: 95%;
    margin: auto;
    padding: 10px 0;
}

footer .footer-wrapper span{
    float: left;
    color: #fafafa;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif, Arial;
    padding: 2px 0;
}

footer .footer-wrapper img{
    float: right;
}
/*==== /FOOTER =====*/
/*==== RESPONSIVE =====*/
@media screen and (min-width: 1440px) {
    .content, .header-wrapper, .banner-info, footer .footer-wrapper {
        width: 1200px;
    }
}

@media screen and (max-width: 1024px) {
    .header-nav ul {
        width: 75%;
    }

    .new-releases .movielist .movie-item:nth-last-child(6n+0),
    .favorites .movielist .movie-item:nth-last-child(6n+0){
        margin-left: 2.2%;
    }

    .new-releases .movielist .movie-item:nth-last-child(1n+0),
    .favorites .movielist .movie-item:nth-last-child(1n+0){
        margin-left: 0%;
    }

    .movie-item {
        width: 22%;
        margin: 1.3% 2.3%;
    }

}

@media screen and (max-width: 768px) {
    .banner_top{
        height: 500px;
    }

    .movie-item {
        width: 31.3%;
        margin: 1%;
    }

    .normal-head, .section-heading form{
        display: none;
    }

    .mobile.menu, #menu{
        display: block;
    }

    .mobile-menu .header-nav,
    .mobile-menu .header-nav ul,
    .mobile-menu .header-nav ul li{
        width: 100%;
    }

    .mobile-menu .header-nav ul li{
        padding: 0;
        -webkit-transition: all 0.5s ease;
    }

    .header-wrapper .mobile-menu .header-nav ul li:hover a{
        color: #969696;
        -webkit-transition: all 0.5s ease;
    }

    .mobile-menu .user-options{
        width: 90%;
        float: none;
        margin: auto;
        padding-bottom: 0;
    }

    .mobile-menu .user-options span {
        padding: 8px 15px;
    }

    .mobile-menu .user-options i.fa-pencil {
        padding: 8px 0;
    }
}

@media screen and (max-width: 640px) {
    h4.banner-data {
        font-size: 14px
    }

    .banner-title {
        right: inherit;
        margin-left: 10px;
    }
}

@media screen and (max-width: 480px) {

    .banner-title {
        right: 0;
        margin-left: 20px;
    }

    .movie-item {
        width: 98%;
    }

    .banner-info{
        height: 80px;
        margin-top: -10px;
    }

    h4.banner-data {
        font-size: 12px;
        width: 41%;
        padding-bottom: 0;
    }

    h4.banner-fav{
        float: left;
    }

    footer .footer-wrapper {
        text-align: center;
    }

    footer .footer-wrapper span{
        float: none;
    }

    footer .footer-wrapper img{
        float: none;
        margin-top: 10px;
    }
}

@media screen and (max-width: 320px) {

    .movie-item {
        width: 100%;
        margin: 1% 0;
    }
}
/*==== RESPONSIVE =====*/
